<h1 class="heading-secondary text-center mt-5">Account Settings</h1>
<div class="acnt_container " style="min-height: 50vh;">
    <div class="side-menu">
        {{log userID}}
        <ul class="items" style="margin:0; padding:10px 20px">
            <li class="nav_el"><i class="fas fa-home"></i><a href="/"> Home</a></li>
            <li class="nav_el"><i class="fas fa-user-cog"></i><a href="/account/{{userID}}"> Settings</a></li>
            <hr style="width
            100px">
            {{#if teacher}}
            <div class="dropdown">
                <li class="nav_el dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="fas fa-book-open"></i><a href=""></a> Digital Library </li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" target="_blank" href="https://dl.acm.org/">ACM Digital Library</a>
                    <a class="dropdown-item" target="_blank" href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEE
                        Xplore</a>
                    <a class="dropdown-item" target="_blank" href="https://dblp.uni-trier.de/">DBLP</a>
                    <a class="dropdown-item" target="_blank" href="https://www.sciencedirect.com/">Science
                        Direct</a>
                </div>
            </div>

            <div class="dropdown">
                <li class="nav_el dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="fab fa-searchengin"></i><a href=""></a> Accademic Search Engine </li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" target="_blank" href="https://scholar.google.com/">Google Scholar</a>
                    <a class="dropdown-item" target="_blank" href="https://academic.microsoft.com/">Microsoft
                        Academic</a>
                    <a class="dropdown-item" target="_blank" href="https://www.base-search.net/">BASE</a>
                    <a class="dropdown-item" target="_blank" href="https://core.ac.uk/">CORE</a>
                    <a class="dropdown-item" target="_blank" href="https://www.science.gov/">Science.gov</a>
                    <a class="dropdown-item" target="_blank" href="https://www.semanticscholar.org/">Semantic
                        Scholar</a>
                    <a class="dropdown-item" target="_blank" href="https://xueshu.baidu.com/">Baidu Scholar</a>
                </div>
            </div>

            {{else}}
            <li class="nav_el"><i class="fas fa-poll-h"></i><a href="/result/{{userID}}" id="results"> Results</a></li>
            <li class="nav_el"><i class="fas fa-calendar-alt"></i><a href="/routine/{{userID}}"> Routine</a></li>
            {{/if}}
        </ul>
    </div>