{{#if teacher}}
     {{#each ClassPosts}}
        <div class="post">
            <div class="post-head">
                <span style="color: #19237C;">{{this.author}}</span><br><span style="font-size: 0.7rem;">{{this.time}}</span>
            
                <div class="option_menu dropdown" id="dropdownMenuLink" data-toggle="dropdown">
                    <div>
                       <div class="dot"></div>
                       <div class="dot"></div>
                       <div class="dot"></div>
                    </div>
                    <div class="dropdown-content">
                      <h6 class="text-white" id="delete" data-id="{{this._id}}+{{this.class}}" style="font-weight: bolder; cursor:pointer">Delete</h6>
                    </div>
                </div>
                 <div class="post-body">
                <p>{{this.content}}</p>
            </div>
            </div>
            <hr>
            <div class="comment-section" id="style-10">
                <form action="" class="comment-form">
                    <textarea class="input-group input-comment" placeholder="Comment"></textarea>
                    <button class="btn btn--green btn-comment" style="background-color: #18237D;" type="submit" data-id="{{this._id}}">Comment</button>
                </form>

                <div class="all-comments">
                    {{#if this.comments}}
                    <h4 class="text-secondary pl-2">Comments</h4>
                    
                    {{#each this.comments}}
                    <div class="comment">
                        <div class="comment-body"><span class="comment-author">{{this.author}}: </span><br>
                            {{this.comment}}
                            <br>
                            <span style="font-size: 0.7rem;">{{this.time}}</span>
                        </div> 
                    </div> 
                    
                    {{/each}}
                    {{/if}}
                </div>
              
            </div>
        </div>
    {{/each}}

{{else}}
     {{#each ClassPosts}}
        <div class="post">
            <div class="post-head">
                <span style="color: #19237C;">{{this.author}}</span><br><span style="font-size: 0.7rem;">{{this.time}}</span>
                 <div class="post-body">
                <p>{{this.content}}</p>
            </div>
            </div>
            <hr>
            <div class="comment-section" id="style-10">
                <form action="" class="comment-form">
                    <textarea class="input-group input-comment" placeholder="Comment"></textarea>
                    <button class="btn btn--green btn-comment" style="background-color: #18237D;" type="submit" data-id="{{this._id}}">Comment</button>
                </form>

                <div class="all-comments">
                    {{#if this.comments}}
                    <h4 class="text-secondary pl-2">Comments</h4>
                    
                    {{#each this.comments}}
                    <div class="comment">
                        <div class="comment-body"><span class="comment-author">{{this.author}}: </span><br>
                            {{this.comment}}
                            <br>
                            <span style="font-size: 0.7rem;">{{this.time}}</span>
                        </div> 
                    </div> 
                    
                    {{/each}}
                    {{/if}}
                </div>
              
            </div>
        </div>
    {{/each}}

{{/if}}