<div class="container">
    <h1 class="heading-secondary text-center">Students</h1>
    {{#if assignment_details}}
    <table class="table table-striped table-dark mt-4">
        <tr>
            <th>Student Name</th>
            <th>Student Id</th>
            <th>Student Assignment</th>
            <th>Submitted On</th>
        </tr>

        {{log assignment_details.length}}
        {{#each assignment_details}}

        <tr>
            <td>{{this.studentname}}</td>
            <td>{{this.id}}</td>
            <td align="center">
                <a href="data:application/pdf;base64,{{this.file}}" download="{{this.fileName}}">{{this.fileName}}</a>
            </td>
            <td>{{this.date}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div>