{{> classroomHead}}
<div class="container classroom-container">
    <div class="banner">
        <div class="banner-body">
            <div class="content">
                <div class="top-left">
                    <h1>{{classname}}</h1>
                    <h3>section</h3>
                    <span>Room Code:{{classID}}</span>
                </div>
            </div>
        </div>
        <div class="banner-foot">
            <span><b>Subject:</b> </span>{{subjectname}}<span></span><br>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
            <li class="list-group-item disabled text-white" style="font-size: 1.5rem; font-weight:bolder; background-color: #F96E4C">All Students</li>

            {{#if student.length}}
                {{#each student}}
                    <li class="list-group-item disabled">{{this}}</li>
                {{/each}}
            {{else}}
                <li class="list-group-item disabled">No Student Enrolled</li>
            {{/if}}
                 
            </ul>
        </div>
        <div class="col-8">
            <form class="" id="classroomForm" style="overflow: hidden;" enctype="multipart/form-data" data-id="{{classID}}">
                    <div class="form-group">
                        <label for="createPost" class="text-secondary" style="font-weight: 700;">Create Post</label>
                        <textarea class="form-control" id="post" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="file" id="uploadFile" hidden>
                        <div id="file-to-upload" class="mb-3"
                            style="display: none; overflow: hidden; height: 70px;  border: 0.5px solid #dddddd; border-radius: 16px;">
                            <div class="fileLogo" style="float: left;width: 8%; height: 100%;overflow: hidden; ">
                                <img src="" alt="" style="width: 100%; height: 100%;"></div>
                            <div class="fileName" style="float:left;"></div>
                        </div>
                        <span class="float-left" type="file" id="attach-file" hidden><i class="fas fa-paperclip text-secondary"
                                style="font-size: 1.5rem; cursor: pointer;"></i></span>
                        <input type="submit" class="btn btn-secondary float-right" style="background-color: #3466D5;">
                    </div>
            </form>

            <div class="allPosts">
    {{#if ClassPosts}}
            {{> classPost}}
    {{/if}}
</div>
        </div>
    </div>
    
</div>

