{{> classroomHead}}
{{log classID}}
<div class="container">
    <div class="row">
        {{#if teacher}}
        <div class="col-12" style="border-right: 0.5px solid #dddddd;">
            {{submittedAssignments}}
            <h3 class="text-secondary">Assign Work</h3>
            <hr>
            {{#if teacher}}
            <form class="text-secondary" style="margin-top: 15px;" id="classwork_form" method="POST"
                enctype="multipart/form-data" action="/classroom/{{classID}}/classwork" data-classId="{{classID}}">
                <div class="form-group">
                    <label for="assignment name">Assignment Name (Keep it unique)</label>
                    <input type="text" class="form-control" name="assignmentname" id="assignmet_name"
                        placeholder="Assignment Name" required>
                </div>
                <div class="form-group">
                    <label for="description">Details</label>
                    <textarea class="form-control" name="details" id="details"
                        placeholder="Description and Last Date of Submission"></textarea>
                </div>
                <div class="form-group form__file-upload">
                    <input type="file" class="form__upload" id="photo" accept=".pdf, .zip, .cpp" name="file">
                </div>
                <button type="submit" class="btn btn--green">Upload</button>
            </form>
            {{/if}}
        </div>
        {{/if}}

        <div class="col-12">

            {{#if classWorks}}
            <div class="container" >

                <table class="table table-striped table-dark mt-4" style="border: 0.5px solid #ddd;">
                          
                    <tr>
                            
                        <th class="text-center">Assignment Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">File</th>
                        <th class="text-center">Submission</th>
                    </tr>
                    {{#if teacher}}
                    {{#each classWorks}}
                    <tr>
                        <td align="center">{{this.assignmentname}}</td>
                        <td align="center">{{this.details}}</td>
                        <td>
                            <a class="nav-link " href="data:application/pdf;base64,{{this.file}}"
                                download="{{this.fileName}}">{{this.fileName}}</a>
                        </td>
                        <td class="nav-item">
                            {{!-- /classwork/{{this._id}} --}}
                            <a href="" data-toggle="modal" data-target="#modal{{@index}}">
                                <button class="btn btn-outline-secondary btn-sm student-assignments" data-assignmentID="{{this._id}}">{{this.students.length}} students</button>
                            </a>



                            <!-- Modal -->

                            <div class="modal fade" id="modal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="text-info">Total Submission: {{this.submitted.length}}</h4>
                                    </div>
                                <div class="modal-body lead" style="color: black;">
                                    <table class="table table-striped table-dark mt-4">
                                             <tr>
                                                 <th>Student Name</th>
                                                 <th>Student Id</th>
                                                 <th>Student Assignment</th>
                                                 <th>Submitted On</th>
                                             </tr>
                                             {{#each this.submitted}}
                                             <tr>
                                                 <td>{{this.studentname}}</td>
                                                 <td>{{this.id}}</td>
                                                 <td align="center">
                                                     <a href="data:application/pdf;base64,{{this.file}}" download="{{this.fileName}}">{{this.fileName}}</a>
                                                 </td>
                                                 <td>{{this.date}}</td>
                                             </tr>
                                             {{/each}}
                                     </table>

                                </div>
                                </div>
                            </div>
                            </div>


                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    {{#each classWorks}}
                    <tr>
                        <th>{{this.assignmentname}}</th>
                        <td align="center">{{this.details}}</td>
                        <td align="center">
                            <a href="data:application/pdf;base64,{{this.file}}"
                                download="{{this.fileName}}">{{this.fileName}}</a>
                        </td>
                        <td>
                            <button class="btn btn--green" data-assignmentID="{{this._id}}" data-toggle="modal"
                                data-target="#id{{this._id}}" style="width: 200px">Submit
                                Assignment</button>
                            {{> submit-assignment}}
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </table>
            </div>
            {{/if}}

        </div>
    </div>
</div>






<script>

    document.querySelector('.abcd').addEventListener('click', (e) => {
        e.preventDefault();
        console.log(e.target.dataset.fileid)
        function debugBase64(base64URL) {
            var win = window.open();
            win.document.write('<iframe src="' + base64URL + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        }

        // e.g This will open an image in a new window
        debugBase64(`data:application/pdf;base64,${e.target.dataset.fileid}`);
    })

</script>