{{> classroomHead}}

<div class="container">
    <div class="banner">
        <div class="banner-body">
            <div class="content">
                <div class="top-left">
                    <h1>{{classname}}</h1>
                    <h3>section</h3>
                    <span>Room Code:{{classID}}</span>
                </div>
                <div class="bottom-right">
                    <a href="">Change Banner</a>
                </div>
            </div>
        </div>
        <div class="banner-foot">
            <span><b>Subject:</b> </span>{{subjectname}}<span></span><br>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <form class="" id="classroomForm" style="overflow: hidden;" enctype="multipart/form-data" data-id="{{classID}}">
        <div class="form-group">
            <label for="createPost" class="text-secondary" style="font-weight: 700;">Create Post</label>
            <textarea class="form-control" id="post" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="file" id="uploadFile" hidden>
            <div id="file-to-upload" class="mb-3"
                style="display: none; overflow: hidden; height: 70px;  border: 0.5px solid #dddddd; border-radius: 16px;">
                <div class="fileLogo" style="float: left;width: 8%; height: 100%;overflow: hidden; ">
                    <img src="" alt="" style="width: 100%; height: 100%;"></div>
                <div class="fileName" style="float:left;"></div>
            </div>
            <span class="float-left" type="file" id="attach-file"><i class="fas fa-paperclip text-secondary"
                    style="font-size: 1.5rem; cursor: pointer;"></i></span>
            <input type="submit" class="btn btn-secondary float-right">
        </div>
    </form>
</div>
</div>


<div class="container allPosts">
    {{#if ClassPosts}}
    {{#each ClassPosts}}
    <div class="post">
        <div class="post-number">{{@index}}</div>
        <div class="post-head">
            <span>Author: </span><span>{{this.author}}</span>&nbsp;&nbsp; <span>Posted At:
            </span><span>{{this.time}}</span>
        </div>
        <div class="post-body">
            <p>{{this.content}}</p>
        </div>
        <div class="comment-section">
            <form action="" class="comment-form">
                <textarea class="input-group input-comment" placeholder="Comment"></textarea>
                <button class="btn btn--green btn-comment" type="submit" data-id="{{this._id}}">Comment</button>
            </form>

            <div class="all-comments">
                {{#if this.comments}}
                <h4 class="text-secondary pl-2">Comments</h4>
                {{#each this.comments}}
                <div class="comment">
                    <div class="comment-body"><span class="comment-author">{{this.author}}: </span>&nbsp;&nbsp;
                        {{this.comment}}
                    </div>
                    <div class="comment-time"><span>Commented At: </span><span>{{this.time}}</span></div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>