<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="/" class="navbar-brand" style="margin-left: 5%;"><span> LU </span>Classroom</a>

    <div id="nav-right">
        <div class="dropdown">
            <span class='add'>+</span>
            <ul class="list-group dropdown-content">
                {{#if teacher}}
                <li class="list-group-item" data-toggle="modal" data-target="#createClass">Create Class</li>
                {{else}}
                <li class="list-group-item" data-toggle="modal" data-target="#joinClass">Join Class</li>
                {{/if}}
                <a href="/signin" class="list-group-item list-group-item-action">Logout</a>


            </ul>
        </div>
        <img src="" alt="ProfileImg" width="50" height="50" style="border-radius: 50%;">

    </div>
</nav>
<div class="container">
    <div class="area">
        <aside>
            <div class="list-group">
                <a href="/profile" class="list-group-item list-group-item-action">Profile</a>
                {{#if teacher}}
                <div class="dropdown">
                    <button class="btn list-group-item list-group-item-action  dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Digital Library
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" target="_blank" href="https://dl.acm.org/">ACM Digital Library</a>
                        <a class="dropdown-item" target="_blank" href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEE
                            Xplore</a>
                        <a class="dropdown-item" target="_blank" href="https://dblp.uni-trier.de/">DBLP</a>
                        <a class="dropdown-item" target="_blank" href="https://www.sciencedirect.com/">Science
                            Direct</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn list-group-item list-group-item-action  dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accademic Search Engine
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" target="_blank" href="https://scholar.google.com/">Google Scholar</a>
                        <a class="dropdown-item" target="_blank" href="https://academic.microsoft.com/">Microsoft
                            Academic</a>
                        <a class="dropdown-item" target="_blank" href="https://www.base-search.net/">BASE</a>
                        <a class="dropdown-item" target="_blank" href="https://core.ac.uk/">CORE</a>
                        <a class="dropdown-item" target="_blank" href="https://www.science.gov/">Science.gov</a>
                        <a class="dropdown-item" target="_blank" href="https://www.semanticscholar.org/">Semantic
                            Scholar</a>
                        <a class="dropdown-item" target="_blank" href="https://xueshu.baidu.com/">Baidu Scholar</a>

                    </div>
                </div>
                {{else}}
                <a href="/result" onclick="myFunction()" class="list-group-item list-group-item-action">Result</a>
                {{/if}}
                <a href="/profile-edit/{{userID}}" class="list-group-item list-group-item-action">Edit Profile</a>
            </div>
        </aside>
        <div class="class">
            {{#if allClass}}
            <div class="row ">
                {{#each allClass}}
                <div class="col-5 mr-1 mt-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-head">
                            <img src="../images/lu1.jpg" class="card-img-top" alt="...">
                            <div class="card-head-content">
                                <h5 class="card-title">{{this.classname}}</h5>
                                <ul class="lst-group">
                                    <li class="lst-group-item">Teacher: {{this.author}}</li>
                                    <li class="lst-group-item">Total Student: {{this.students}}</li>
                                </ul>
                            </div>

                        </div>

                        <hr>
                        <div class="card-body">

                            <a href="/delete/{{this._id}}" class="btn btn-danger float-right">Delete</a>
                            <a href="/classroom/{{this._id}}" class="btn btn-primary float-right mr-2">Enter</a>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>

            {{else}}
            <h1>You Have No Classroom Yet</h1>
            {{/if}}
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="joinClass" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinClassLabel">Room Code</h5>
                    {{!-- <button class="close" data-dismiss="modal" aria-label="Close">  </button> --}}
                    <span class="close" data-dismiss="modal">&times;</span>

                </div>
                <div class="body">
                    <form action="" method="POST">
                        <input type="text" class="form-control" placeholder="Room Code" name="roomcode">

                        <button type="submit" class="btn btn-primary">Join Class</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createClass" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createClassLabel">Create Class</h5>
                    {{!-- <button class="close" data-dismiss="modal" aria-label="Close">  </button> --}}
                    <span class="close" data-dismiss="modal">&times;</span>

                </div>
                <div class="body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="classname">Class Name (required)</label>
                            <input type="text" class="form-control" name="classname" placeholder="Class Name">
                        </div>
                        <div class="form-group">
                            <label for="section">Section</label>
                            <input type="text" class="form-control" name="section" placeholder="Section">
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" placeholder="Subject">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        console.log("clicked")
    }
</script>