{{> account}}
<div class="container-fill p-4">
    <div style="overflow:hidden">
        {{#if errMessage}}
        <div class="error">{{errMessage}}</div>
        {{else}}
        <div class="profile-img float-lg-left float-md-none ">
            <div class="rounded mt-3" style="width: 150px; height: 150px;">
                {{#if userPhoto}}
                <img src="data:image/jpg;base64,{{userPhoto}}" name="aboutme" class="rounded"
                    style="width: 100%; height:100%">
                {{else}}
                <img src="public/images/default.jpg" name="aboutme" class="rounded" style="width: 100%; height:100%">
                {{/if}}
            </div>
            <h4>{{name}}</h4>
        </div>
        <div class="float-lg-right mt-4 clearfix">
            <span><strong>Department: </strong></span>
            <span class="label label-info" id="department"></span><br>
            <span><strong>Degree: </strong></span>
            <span class="label label-info" id="degree"></span><br>
            <span><strong>Id: </strong></span>
            <span class="label label-warning" id="id">{{id}}</span><br>
            <span><strong>CGPA: </strong></span>
            <span class="label label-info" id="cgpa"></span><br>
            <span><strong>Credit: </strong></span>
            <span class="label label-info" id="credit"></span><br>
            <span><strong>Grade: </strong></span>
            <span class="label label-info" id="grade"></span><br>
            <span id="birth_date" style="visibility: hidden;">{{dob}}</span>
        </div>
        {{/if}}


    </div>
    <hr>

</div>
</div>

<script>

    if (document.querySelector('.error')) {
        const error = document.querySelector('.error');
    }
    const id = (document.querySelector('#id').innerHTML).trim;
    const birth_date = (document.querySelector('#birth_date').innerHTML + " " + document.querySelector('#birth_date').innerHTML).trim;
    let semester_name = document.querySelector('h4');
    console.log(document.querySelector('#id').innerHTML)
    async function get_sem(cb) {
        let three_sem_result = [];
        let data = `action=get-result&student_id=${document.querySelector('#id').innerHTML}&birth_date=${document.querySelector('#birth_date').innerHTML}`
        let xhr = await new XMLHttpRequest();
        await xhr.open('post', 'https://www.lus.ac.bd/wp-admin/admin-ajax.php', true);
        await xhr.setRequestHeader('Content-type', "application/x-www-form-urlencoded");
        await xhr.send(data);
        xhr.onload = async () => {
            let obj = null;
            try {
                obj = xhr.responseText
                if (obj) {
                    let results = JSON.parse(obj);
                    let student = results.student;
                    document.querySelector('#department').innerHTML = student.department;
                    document.querySelector('#degree').innerHTML = student.degree;
                    document.querySelector('#cgpa').innerHTML = student.cgpa;
                    document.querySelector('#credit').innerHTML = student.credit;
                    document.querySelector('#grade').innerHTML = student.grade;
                    let years = Object.keys(results.results);
                    years = years.reverse();
                    let k = 1;
                    years.forEach(e => {
                        // let index = results.results[e];

                        let index = Object.keys(results.results[e])
                        // console.log((results.results[e])[0]);
                        k++;
                        index.forEach(et => {

                            if (k <= 3) {
                                for (let i = 0; i < et.length; i++) {
                                    console.log(((results.results[e])[et]).courses);
                                    if (((results.results[e])[et]).courses != null)
                                        three_sem_result.push((results.results[e])[et]);
                                }
                            }
                        });
                    });
                }
                return cb(three_sem_result);
            } catch (err) {
                console.log(err);
            }

        }

    }
    get_sem(cb => {
        console.log(cb);
        cb.forEach(e => {
            // console.log(e);
            const courses = e.courses;
            //  console.log(courses.length)
            let h3 = document.createElement('h3');
            h3.innerHTML = e.name;
            h3.classList.add('semester_name', 'text-center')
            document.querySelector('.container-fill').appendChild(h3);
            let row = courses.length;
            let col = 5;
            //let table = '';
            let table = document.createElement('table');
            table.classList.add('table');

            let header = table.createTHead();
            let tr = header.insertRow(0);
            let th = document.createElement('th');
            th.innerHTML = 'Course Code';
            tr.appendChild(th);
            th = document.createElement('th');
            th.innerHTML = 'Course Title';
            tr.appendChild(th);
            th = document.createElement('th');
            th.innerHTML = 'Credit';
            tr.appendChild(th);
            th = document.createElement('th');
            th.innerHTML = 'GP';
            tr.appendChild(th);
            th = document.createElement('th');
            th.innerHTML = 'Grade';
            tr.appendChild(th);
            let tbody = table.createTBody();
            for (let i = 0; i < row; i++) {
                //let tr = document.createElement('tr');
                tr = tbody.insertRow(i);
                let td = tr.insertCell(0);
                td.innerHTML = courses[i].course_code;
                td = tr.insertCell(1);
                td.innerHTML = courses[i].course_title
                td = tr.insertCell(2);
                td.innerHTML = courses[i].credit
                td = tr.insertCell(3);
                td.innerHTML = courses[i].gpa
                td = tr.insertCell(4);
                td.innerHTML = courses[i].grade

                //tr.appendChild(td)
                //table += `<td>${courses[j]}</td>`

                //table += '</tr>'
            }
            document.querySelector('.container-fill').appendChild(table);
            // console.log(table)
        })
    })
</script>